* {
    margin: 0;
    padding: 0;
  }
  body{
    margin: 0px auto;
    width: 80%;
  }
  body {
    /* background-color: #d5d6d8; */
    color: rgb(144, 23, 23);
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.8;
  }
  h2{
      color: rgb(96, 103, 67);
      text-align: center;
  }
  header{
    color: rgb(0, 114, 114);
    background-color: rgb(149, 215, 215);
    text-align: center;
}
li{
    color: rgb(144, 82, 105);
}
table{
    color: black;
    text-align: center;
    /* float: right; */
}
ol{
  list-style: none;
}
.examples .example-list li {
  float: left;
  margin: 10px;
  width:25%; /*chiều rộng tấm hình*/
}
.examples .example-list li:nth-child(4n) {
  margin-right: 0;
}
.cl1{
  width: 100%;
  float: right;
}
.cl2{
  background-color: rgb(191, 239, 182);
  width: 100%;
  min-height: 300px;
}
nav{
  width: 100%;
  min-height: 500px;
  background-color: rgb(238, 243, 188);
  
}
footer{
  width: 100%;
  min-height: 100px;
  background-color: rgb(138, 135, 141);
}
